---
# tasks file for ansible.archyay
- name: Clone yay
  git:
    repo: https://aur.archlinux.org/yay-bin.git
    dest: "/home/{{ user.name }}/yay"
    update: true
  become: yes
  become_user: "{{ user.name }}"

- name: Check if yay package exists
  stat:
    path: "/home/{{ user.name }}/yay/yay-bin-*-x86_64.pkg.tar.zst"
  register: yay_pkg

- name: Build yay package if not exists
  command:
    chdir: "/home/{{ user.name }}/yay"
    cmd: "makepkg -sf --noconfirm"
  become: yes
  become_user: "{{ user.name }}"
  when: not yay_pkg.stat.exists

- name: Find yay package file to install (exclude debug)
  find:
    paths: "/home/{{ user.name }}/yay"
    patterns: "yay-bin-[0-9]*-x86_64.pkg.tar.zst"
    file_type: file
  register: yay_pkg_files

- name: Debug yay_pkg_files
  debug:
    var: yay_pkg_files

- name: Set yay_pkg_path to the first found package file
  set_fact:
    yay_pkg_path: "{{ yay_pkg_files.files[0].path }}"
  become: yes
  become_user: "{{ user.name }}"

- name: Install yay package with pacman -U (non-debug) with output
  command: pacman -U --noconfirm {{ yay_pkg_path }}
  become: yes
  register: pacman_install
  ignore_errors: yes

- name: Show pacman install output
  debug:
    var: pacman_install.stdout_lines
