---
- name: "Create directory {{ item }}"  
  file:  
    path: "{{ item }}"  
    state: directory  
    owner: "{{ user.name }}"  
    group: "{{ user.name }}"  
    recurse: true  
  loop:  
    - "/home/{{ user.name }}/screenshots"  
    - "/home/{{ user.name }}/.config/waybar"  
    - "/home/{{ user.name }}/.config/waybar/scripts"  
    - "/home/{{ user.name }}/.config/hypr"  
    - "/home/{{ user.name }}/.config/mako"
    - "/home/{{ user.name }}/.config/kitty"
    - "/home/{{ user.name }}/.config/ranger"

- name: copy my idea vim config
  template: src=ideavimrc dest=/home/{{ user.name }}/.ideavimrc owner={{ user.name }} group={{ user.name }}

- name: copy my ranger config
  template: src=ranger/rc.conf dest=/home/{{ user.name }}/.config/ranger/rc.conf owner={{ user.name }} group={{ user.name }}

- name: copy my hyprland config
  template: src=hypr/hyprland.conf dest=/home/{{ user.name }}/.config/hypr/hyprland.conf owner={{ user.name }} group={{ user.name }}

- name: copy my waybar stocks check
  template: src=waybar/scripts/market.py dest=/home/{{ user.name }}/.config/waybar/scripts/market.py owner={{ user.name }} group={{ user.name }} mode=0755

- name: copy my waybar checkupdates
  template: src=waybar/scripts/checkupdates dest=/home/{{ user.name }}/.config/waybar/scripts/checkupdates owner={{ user.name }} group={{ user.name }} mode=0755

- name: make directory /home/{{ user.name }}/.config/waybar/
  file: name=/home/{{ user.name }}/screenshots state=directory owner={{ user.name }} group={{ user.name }} recurse=true state=directory

- name: Create custom hyprland file if it does not exist
  ansible.builtin.lineinfile:
    path: /home/{{ user.name }}/.config/hypr/custom.conf
    line: ''
    create: true
    state: present
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: '0644'
  register: hyprlandCustom

- name: Show hyprland custom status
  debug:
    msg: "The custom hyprland file was created"
  when: hyprlandCustom.changed

- name: install Hyprland.
  pacman: name=hyprland state=present

- name: copy my waybar config
  template: src=waybar/config.jsonc dest=/home/{{ user.name }}/.config/waybar/config.jsonc owner={{ user.name }} group={{ user.name }}

- name: copy my waybar style config
  template: src=waybar/style.css dest=/home/{{ user.name }}/.config/waybar/style.css owner={{ user.name }} group={{ user.name }}

- name: copy my mako config
  template: src=mako/config dest=/home/{{ user.name }}/.config/mako/config owner={{ user.name }} group={{ user.name }}

- name: copy my kitty config
  template: src=kitty/kitty.conf dest=/home/{{ user.name }}/.config/kitty/kitty.conf owner={{ user.name }} group={{ user.name }}

- name: copy my kitty colors config
  template: src=kitty/colors.conf dest=/home/{{ user.name }}/.config/kitty/colors.conf owner={{ user.name }} group={{ user.name }}

- name: install utilities
  pacman: 
    pkg:
      - hyprlock
      - hyprpaper
      - waybar
      - kitty
      - wofi
      - extra/pacman-contrib
      - mako
      - grim
      - slurp
      - wf-recorder
      - wl-clipboard
    state: present
